main{
  min-height: 80vh;
}

/* .cart{
  margin-right: auto;
} */

.navbar-expand-lg .navbar-collapse{
  justify-content: flex-end !important;
}


.rating span{
  margin: 0.1rem;
}
h3{
  padding: 1rem 0;
}

h1{
   font-size: 1.8rem;
   padding: 1rem 0; 
}
h2{
  font-size: 1.4rem;
  padding: 0.5rem 0; 
}